.App {
  max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.App > button {
	color: white;
	padding: 0.5em 0.8em;
	border: 1px solid #888;
	border-radius: 3px;
}
.App > button.off {
	background-color: green;
}
.App > button.off:hover {
	background-color: LimeGreen;
}
.App>button.on {
  background-color: red;
}
.App>button.on:hover {
  background-color: OrangeRed;
}


.strong {
	font-weight: bold;
}

.danger {
	color: #FF3333;
}
