html {
	font-size: 16px;
}

body {
  margin: 0;
  padding: 0 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 350px;
}

* {
	box-sizing: border-box;
}

@media screen and (min-width: 77.5em) {
	body {
		padding: 0;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}
