.request button {
  margin: 5px 0;
  padding: 10px;
  font: inherit;
  border: 1px solid #00DF83;
  background-color: transparent;
  color: #00DF83;
  cursor: pointer;
}

.request button:hover,
.request button:active {
  color: white;
  background-color: #00DF83;
}
